@import url("https://fonts.cdnfonts.com/css/jlr-star-shrek");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans";
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #000000;
  font-family: "JLR Star Shrek", sans-serif;
}

.slider {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 8fr 1fr;
  row-gap: 3%;
  border: 0.175rem solid #ffffff;
  width: 25%;
  height: 80%;
}

.slider__images {
  grid-column: 1 / -1;
  overflow: hidden;
}

.slider__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  animation: 0.6s anim;
}

.slider__texts {
  overflow: hidden;
}

.slider__radioLabels {
  display: flex;
  justify-content: end;
  gap: 5%;
}

.slider__image,
.slider__text {
  display: none;
}

.slider__radio {
  display: none;
}

.slider__radioLabel {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.175rem solid #1db954;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.slider__radioLabel:hover {
  border-color: #ffffff;
}

.slider__radioLabel:active {
  background-color: #ffffff;
}

#slide-1:checked ~ .slider__radioLabels > .slider__radioLabel:nth-child(1),
#slide-2:checked ~ .slider__radioLabels > .slider__radioLabel:nth-child(2),
#slide-3:checked ~ .slider__radioLabels > .slider__radioLabel:nth-child(3),
#slide-4:checked ~ .slider__radioLabels > .slider__radioLabel:nth-child(4) {
  background-color: #1db954;
  pointer-events: none;
}

#slide-1:checked ~ .slider__images > .slider__image:nth-child(1),
#slide-2:checked ~ .slider__images > .slider__image:nth-child(2),
#slide-3:checked ~ .slider__images > .slider__image:nth-child(3),
#slide-4:checked ~ .slider__images > .slider__image:nth-child(4),
#slide-1:checked ~ .slider__texts > .slider__text:nth-child(1),
#slide-2:checked ~ .slider__texts > .slider__text:nth-child(2),
#slide-3:checked ~ .slider__texts > .slider__text:nth-child(3),
#slide-4:checked ~ .slider__texts > .slider__text:nth-child(4) {
  display: block;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1279px) {
  .slider {
    width: 60%;
    height: 90%;
  }
}

@media (max-width: 1023px) {
  .slider {
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr 2fr;
    width: 95%;
    height: 95%;
  }

  .slider__radioLabels {
    grid-row: 2;
    justify-content: center;
    align-items: center;
  }
}
